<div class="inbox">
  <div>You tried to create new story. Unfortunatelly the story hasn't been created due to following errors:</div>
  <ol class="errorbox">
    <%= content_tag(:li,"Unauthorized access") %>
  </ol>    
</div>