<div class="inbox">
  <div>You tried to create new story. Unfortunatelly the story hasn't been created due to following errors:</div>
  <ol class="errorbox">
    <%= 
       if @error_message 
         content_tag(:li,@error_message)
       else 
         display_all_error_messages(@story,:all)
       end
    %>
  </ol>    
</div>