<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

<title>Pivgeon</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Pivgeon - Pivotal Tracker integration" />
<meta name="keywords" content="pivotal,tracekr,pivotaltracker,pivotal-tracker,story" />


<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>


<script type="text/javascript">
    var toggle_details = function(section){
        var box = jQuery(section+" .details");
        var link = box.find("a.header");

        if (link.html() == "Show more details"){
            link.html("Hide details");
            box.css("height","auto");
        }else{
            link.html("Show more details");
            box.css("height","25px");
        }
    }
</script>

<style type="text/css">
#main #intro p { font:normal 14px/1.5em Droid Serif;color:#555555; }
#footer p { font:normal 14px/1em Lobster;color:#999; }
</style>


</head>

<body class="home blog gecko">

<div id="wrapper">

    <div id="header" class="col-full">

        <div id="logo">

            <h1 class="site-title">
                <a href="/" class="last">Pivgeon</a>
            </h1>
            <span class="site-description">Pivotal Tracker email integration</span>

        </div>

        <div id="new-account-link">
	    <a href="/users/new">Create new account</a>
	</div>

    </div>

    <div id="content" class="col-full">

      <div id="main">
        <%= yield %>
      </div>

    </div>

    <div id="footer" class="col-full">

        <div id="copyright">
            <p>&copy; 2011 Pivgeon. All Rights Reserved.</p>
        </div>

    </div>

</div><!-- /#wrapper -->
</body>
</html>
